#wrapper {
    font-family: "Times New Roman", Times, serif;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 1%;
}

h1 {
    text-align: center;
}

.section-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#button-finish-form {
    margin-bottom: 10%;
    ali: center;
}