
    body {
        margin: 0;
        padding: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    #wrapper {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    #main_header {
        flex-shrink: 0;
    / width: 100 %;
    }

    .button-container {
        display: flex;
        justify-content: center;
        gap: 70px;
        flex-wrap: wrap;
        padding: 20px 0;
    }

    .image-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        align-items: center;
        justify-content: center;
    }

    #main_footer {
        text-align: center;
        padding: 10px;
    }

    main {
        max-width: 1000px;
        width: auto;
        margin: 20px auto;
        padding: 20px;
        background: white;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    }

    @media screen and (max-width: 1024px) {
        main {
            width: 95%; /* Se ajusta más en pantallas más pequeñas */
            padding: 15px;
        }

        .button-container {
            gap: 15px;
            padding: 15px;
        }

        .image-container {
            flex-direction: column; /* Se ponen en columna cuando no hay suficiente espacio */
            align-items: center;
        }
    }

    @media screen and (max-width: 40em) {

        main {
            width: 95%;
            max-width: 100%;
            margin: 0;
            padding: 10px;
        }

        .image-container {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: stretch; /* Que ocupe todo el ancho */
            padding: 10px;
            gap: 10px;
        }


        .button-container {
            flex-direction: column;
            gap: 10px;
            padding: 10px;
            width: 100%;
            align-items: center;
        }

    }



