.table {
    table-layout: auto;
    border-collapse: collapse;
    justify-content: center;
    text-align: center;
    width: 80%;
}

th, td {
    padding: 5px;
    text-align: center;
    font-size: 14px;
    width: 80px;
}

td figure {
    margin: 0;
    display: inline-block;
    text-align: center;
    height: auto;
}

.labels {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

label {
    display: inline-block;
    margin: 10px;
    font-size: 16px;
    vertical-align: middle;
}