<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header Template</title>
    <link rel="stylesheet" href="../CSS/header.css">
</head>
<body>
<header id="main_header">
    <h1>Lorem Ipsum</h1>
    <nav id="navigation">
        <div id="buttons_group">
            <button class = "buttons">Button</button>
            <button class = "buttons">Button</button>
            <button class = "buttons">Button</button>
        </div>
        <button id="search_button">🔍</button>
        <button id="configuration_button">⚙</button>
    </nav>
</header>
</body>
</html>