<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header Template</title>
    <link rel="stylesheet" href="/Templates/CSS/header.css">
</head>
<body>
<header id="main_header">
    <a href="/NewFoods/index.html">
    <h1>NewFoods</h1>
    </a>
    <nav id="navigation">
        <div id="buttons_group">
            <a href="/NewFoods/Pages/HTML/CreateRecipePage.html">
            <button class = "buttons">Crear receta</button>
            </a>
            <button class = "buttons">Login</button>
            <button class = "buttons">Register</button>
        </div>
        <a href="/NewFoods/Pages/HTML/searchPage.html">
        <button id="search_button">🔍</button>
        </a>
        <a href="/NewFoods/Pages/HTML/profile.html">
        <button id="configuration_button">⚙</button>
        </a>
    </nav>
</header>
</body>
</html>