<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Template con Imagen</title>
  <link rel="stylesheet" href="/Templates/CSS/ImageTitleVertical.css" />
</head>
<body>

<div class="container">
  <img
          src="https://www.shutterstock.com/image-vector/default-ui-image-placeholder-wireframes-600nw-1037719192.jpg"
          alt="Placeholder"
          class="placeholder-image"
  >
  <div class="text">lorem</div>
</div>

</body>
</html>
