<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Login page">
    <meta name="keywords" content="HTML5, CSS3, JavaScript">
    <title>Login page</title>
    <script src="../Script/xlu-include-file.js"></script>
    <link rel="stylesheet" href="../CSS/TextInput.css">
    <link rel="stylesheet" href="../CSS/button.css">
    <link rel="stylesheet" href="../CSS/footer.css">
    <link rel="stylesheet" href="../CSS/loginPage.css">
</head>
<body>
<div id="wrapper">

    <div class="login_container">
        <h2>Lorem ipsum</h2>

        <div class="input-group">
            <h3>Lorem ipsum</h3>
            <div class="input-container" xlu-include-file="TextInput.html"></div>
        </div>

        <div class="input-group">
            <h3>Lorem ipsum</h3>
            <div class="input-container" xlu-include-file="TextInput.html"></div>
        </div>

        <div xlu-include-file="button.html"></div>
        <div xlu-include-file="button.html"></div>
        <br>
    </div>

    <footer id="main_footer" xlu-include-file="footer.html"></footer>
</div>

</body>

<script>
    xLuIncludeFile();
</script>
</html>