<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Profile Page</title>
  <script src="../Script/xlu-include-file.js"></script>
  <link rel="stylesheet" href="../CSS/header.css">
  <link rel="stylesheet" href="../CSS/footer.css">
  <link rel="stylesheet" href="../CSS/avatar.css">
  <link rel="stylesheet" href="../CSS/ImageTemplate.css">
  <link rel="stylesheet" href="../CSS/profile.css">
</head>
<body>

<header id="main_header" xlu-include-file="../HTML/header.html"></header>

<section id="avatar" xlu-include-file="../HTML/avatar.html"></section>
<section class="gallery">
  <div class="labels">
    <span>Label</span>
    <span>Label</span>
    <span>Label</span>
  </div>
</section>
<section class="grid">
  <div class="image" id="image1" xlu-include-file="../HTML/ImageTemplate.html"></div>
  <div class="image" id="image2" xlu-include-file="../HTML/ImageTemplate.html"></div>
  <div class="image" id="image3" xlu-include-file="../HTML/ImageTemplate.html"></div>
  <div class="image" id="image4" xlu-include-file="../HTML/ImageTemplate.html"></div>
  <div class="image" id="image5" xlu-include-file="../HTML/ImageTemplate.html"></div>
  <div class="image" id="image6" xlu-include-file="../HTML/ImageTemplate.html"></div>
</section>

<footer id="main_footer" xlu-include-file="../HTML/footer.html"></footer>



<script>

  xLuIncludeFile();

</script>

</body>
</html>