
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Results page">
  <meta name="keywords" content="HTML5, CSS3, JavaScript">

  <title>Results page</title>

  <script src="../Script/xlu-include-file.js"></script>
  <link rel="stylesheet" href="../CSS/header.css">
  <link rel="stylesheet" href="../CSS/footer.css">
  <link rel="stylesheet" href="../CSS/ImageTitleTextHorizontal.css">
  <link rel="stylesheet" href="../CSS/resultsPage.css">
</head>
<body>
<div id="wrapper">
  <header id="main_header" xlu-include-file="../HTML/header.html"></header>
  <h2>Lorem ipsum</h2>
  <div class="image-container">
    <div xlu-include-file="../HTML/ImageTitleTextHorizontal.html"></div>
    <div xlu-include-file="../HTML/ImageTitleTextHorizontal.html"></div>
  </div>
</div>

<footer id="main_footer" xlu-include-file="../HTML/footer.html"></footer>

<script>

  xLuIncludeFile();

</script>

</body>
</html>