<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Tarjeta con Label e Input</title>
    <link rel="stylesheet" href="../CSS/TextInput.css" />
  </head>
<body>

<div class="card">
  <div class="card-header">
    <span class="label-text">Lorem Ipsum</span>

    <button class="close-button">✕</button>
  </div>

  <input
          type="text"
          class="text-input"
          placeholder="Lorem"
          aria-label="Lorem"
  />

  <hr class="divider">
</div>

</body>
</html>