<div *ngIf="receta">
  <app-header></app-header>

  <main>
    <h2>{{ receta.title }}</h2>
    <div class="image-placeholder">
      <img [src]="receta.image" alt="Imagen de la receta">
    </div>
    <p>{{ receta.description }}</p>

    <div class="recipe-section">
      <div class="ingredients-lists">
        <h3>Ingredientes</h3>
        <ul>
          <li *ngFor="let ingrediente of receta.ingredients">{{ ingrediente }}</li>
        </ul>
      </div>
      <div class="ingredients-lists">
        <h3>Información nutricional</h3>
        <ul>
          <li>Calorías: {{ receta.nutrition.calories }}</li>
          <li>Carbohidratos: {{ receta.nutrition.carbohydrates }}</li>
          <li>Proteínas: {{ receta.nutrition.proteins }}</li>
          <li>Grasas: {{ receta.nutrition.fats }}</li>
          <li>Fibras: {{ receta.nutrition.fiber }}</li>
        </ul>
      </div>
    </div>

    <ol>
      <li *ngFor="let paso of receta.steps">{{ paso }}</li>
    </ol>
  </main>

  <app-footer></app-footer>
</div>

