<body>

<header id="main_header"><app-header></app-header></header>
<div class="labels">
  <a [routerLink]="['/profilePage']">
    <button class="button-label">Recetas guardadas</button>
  </a>
  <a [routerLink]="['/profilePage']">
    <button class="button-label">Recetas subidas</button>
  </a>
  <a [routerLink]="['/profilePage2']">
    <button class="button-label">Planning semanal</button>
  </a>
</div>
<hr class="separator">

<table class="table">
  <thead>
  <tr>
    <th></th>
    <th>Lunes</th>
    <th>Martes</th>
    <th>Miércoles</th>
    <th>Jueves</th>
    <th>Viernes</th>
    <th>Sábado</th>
    <th>Domingo</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th>Desayuno</th>
    <td><figure><div class="image" id="itinerary-img1" ><app-image-text-vertical></app-image-text-vertical></div></figure></td>
    <td><figure><div class="image" id="itinerary-img2" ><app-image-text-vertical></app-image-text-vertical></div></figure></td>
    <td><figure><div class="image" id="itinerary-img3" ><app-image-text-vertical></app-image-text-vertical></div></figure></td>
    <td><figure><div class="image" id="itinerary-img4" ><app-image-text-vertical></app-image-text-vertical></div></figure></td>
    <td><figure><div class="image" id="itinerary-img5" ><app-image-text-vertical></app-image-text-vertical></div></figure></td>
    <td><figure><div class="image" id="itinerary-img6" ><app-image-text-vertical></app-image-text-vertical></div></figure></td>
    <td><figure><div class="image" id="itinerary-img7" ><app-image-text-vertical></app-image-text-vertical></div></figure></td>
  </tr>
  <tr>
    <th>Almuerzo</th>
    <td><figure><div class="image" id="itinerary-img8"><app-image-text-vertical></app-image-text-vertical></div></figure></td>
    <td><figure><div class="image" id="itinerary-img9"><app-image-text-vertical></app-image-text-vertical></div></figure></td>
    <td><figure><div class="image" id="itinerary-img10"><app-image-text-vertical></app-image-text-vertical></div></figure></td>
    <td><figure><div class="image" id="itinerary-img11"><app-image-text-vertical></app-image-text-vertical></div></figure></td>
    <td><figure><div class="image" id="itinerary-img12"><app-image-text-vertical></app-image-text-vertical></div></figure></td>
    <td><figure><div class="image" id="itinerary-img13"><app-image-text-vertical></app-image-text-vertical></div></figure></td>
    <td><figure><div class="image" id="itinerary-img14"><app-image-text-vertical></app-image-text-vertical></div></figure></td>
  </tr>
  <tr>
    <th>Cena</th>
    <td><figure><div class="image" id="itinerary-img15"><app-image-text-vertical></app-image-text-vertical></div></figure></td>
    <td><figure><div class="image" id="itinerary-img16"><app-image-text-vertical></app-image-text-vertical></div></figure></td>
    <td><figure><div class="image" id="itinerary-img17"><app-image-text-vertical></app-image-text-vertical></div></figure></td>
    <td><figure><div class="image" id="itinerary-img18"><app-image-text-vertical></app-image-text-vertical></div></figure></td>
    <td><figure><div class="image" id="itinerary-img19"><app-image-text-vertical></app-image-text-vertical></div></figure></td>
    <td><figure><div class="image" id="itinerary-img20"><app-image-text-vertical></app-image-text-vertical></div></figure></td>
    <td><figure><div class="image" id="itinerary-img21"><app-image-text-vertical></app-image-text-vertical></div></figure></td>
  </tr>
  </tbody>
</table>

<footer id="main_footer"><app-footer></app-footer></footer>

</body>
