<body>
<a class="card-link">
  <div class="card">
    <div class="image-container">
      <img [src]="recipe.image" alt="Recipe Image">
    </div>
    <div class="content">
      <h3>{{ recipe.title }}</h3>
      <p class="subtitle">{{ recipe.subtitle }}</p>
      <p class="text">{{ recipe.description }}</p>

      <p class="info">
        <strong>Dificultad:</strong> <span class="difficulty">{{ recipe.difficulty }}</span> |
        <strong>Tiempo:</strong> <span class="duration">{{ recipe.duration }}</span><span> min</span>
      </p>

      <div class="icons">
        <button class="icon-save">🔖 <span class="save-count">{{ recipe.saved }}</span></button>
        <button class="icon-like">❤️ <span class="like-count">{{ recipe.likes }}</span></button>
      </div>
    </div>
  </div>
</a>
</body>


