@media screen and (min-width: 40em) {

    body {
        margin: 0;
        padding: 0;
    }

    .table {
        table-layout: auto;
        border-collapse: collapse;
        justify-content: center;
        text-align: center;
        width: 80%;
        margin: auto;
        height: 80vh;
    }

    th, td {
        padding: 5px;
        text-align: center;
        font-size: 14px;
        width: 80px;
    }

    td figure {
        margin: 0;
        display: inline-block;
        text-align: center;
        height: auto;
    }

    .labels {
        text-align: center;
        margin-bottom: 10px;
        top: 30px;
        display: flex;
        justify-content: center;
        gap: 70px;
        padding: 20px 0;
        flex-wrap: wrap;
    }

    label {
        display: inline-block;
        margin: 10px;
        font-size: 16px;
        vertical-align: middle;
    }

    .separator {
        width: 80%;
        margin: 10px auto;
        border: none;
        border-top: 2px solid #ccc;
    }

    .button-label {
        background-color: #581845;
        border: none;
        color: white;
        padding: 12px 24px;
        font-size: 16px;
        font-weight: bold;
        width: 200px;
        border-radius: 8px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

    }

    .button-label:hover {
        background: #566573;
    }

    .button-label:active {
        transform: scale(0.95);
    }

}

@media screen and (max-width: 40em) {

    body {
        margin: 0;
        padding: 0;
    }

    .table {
        width: 100%;
        font-size: 12px;
        height: auto;
    }

    .labels {
        display: flex;
        gap: 20px;
        padding: 10px;
        margin: 10px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .button-label {
        background-color: #581845;
        border: none;
        color: white;
        padding: 12px 24px;
        font-size: 16px;
        font-weight: bold;
        width: 200px;
        border-radius: 8px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    .button-label:hover {
        background: #566573;
    }

    .button-label:active {
        transform: scale(0.95);
    }

    thead {
        display: none;
    }

    tbody {
        display: block;
        width: 100%;
    }

    tr {
        display: flex;
        flex-direction: column;
        border-bottom: 2px solid #ccc;
        padding: 10px;
        margin-bottom: 10px;
    }

    td {
        display: flex;
        justify-content: center;
        padding: 8px;
        width: 100%;
        text-align: center;
    }

    td::before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: capitalize;
        color: #581845;
    }

}
