.button {
    background-color: #581845;
    border: none;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    width: 200px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.button:hover {
    background: #566573;
}

.button:active {
    transform: scale(0.95);
}
