html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#main_footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: auto;
    width: 100%;
}

#redes-sociales {
    margin-bottom: 10px;
}

.icono {
    color: white;
    margin: 0 10px;
    font-size: 20px;
    text-decoration: none;
}

.icono:hover {
    color: #ddd;
}

#text {
    font-size: 14px;
    margin-top: 10px;
}
