#main_header {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #900C3F;
    color: #FFC300;
    font-family: Arial, sans-serif;
    padding: 15px 30px;
}

a {
    text-decoration: none;
    color: inherit;
    font: inherit;
}

#buttons_group {
    position: absolute;
    top: 80px;
    right: 70px;
    display: flex;
    gap: 20px;
    padding: 10px 20px;
    height: 28px;
}

.buttons{
    cursor: pointer;
    border-radius: 5px;
    height: 28px;

}

.buttons:hover{
    background: #e0e0e0;
}

.buttons:active{
    transform: scale(0.95);
}

#search_button {
    position: absolute;
    top: 90px;
    right: 30px;
    cursor: pointer;
    border: 1px solid #444;
    display: flex;
    border-radius: 6px;
}

#search_button:hover{
    background: #e0e0e0;
}

#search_button:active {
    transform: scale(0.95);
}

#configuration_button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    border: 1px solid #444;
    display: flex;
    border-radius: 6px;
}

#configuration_button:hover{
    background: #e0e0e0;
}

#configuration_button:active {
    transform: scale(0.95);
}