
.container {
    width: 150px;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 15px;
    padding: 10px;
    display: inline-block;
}

.placeholder-image {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}

.text {
    font-family: Roboto, "Open Sans", serif;
    font-size: 16px;
    margin-top: 5px;
}
