.text-input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 2px solid #d0d0d0;
    border-radius: 5px;
    outline: none;
}
.text-input:focus {
    border-color: #969696;
    box-shadow: 0 0 5px #898989;
}