@media screen and (min-width: 40em) {


  #wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .search_container {
    background: white;
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    justify-content: center;
    text-align: center;
    align-self: center;
  }

  .input-group {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 100%;
    justify-content: center;
    padding: 20px;
  }

  h2 {
    margin: 0;
    width: 200px;
    text-align: right;
  }

  .input-container {
    flex: 1;
  }

  #wrapper > #main_footer {
    margin-top: auto;
  }

  #dificultad.input-container {
    text-align: left;
  }

}

@media screen and (max-width: 40em) {

  .search_container {
    padding: 40px;
    gap: 40px;
  }

  .input-group {
    flex-direction: column;
    gap: 15px;
    width: 100%;
    justify-items: center;
  }

  h2 {
    width: 100%;
    text-align: center;
    font-size: 1.2em;
  }

  #wrapper > #main_footer {
    margin-top: auto;
  }

}
