<body>

<header id="main_header"><app-header></app-header></header>

<section id="avatar-container">
  <div id="avatar"><app-avatar></app-avatar></div>
  <div id="username">
    <p id="usernameParagraph">{{ nombre }}</p>
  </div>
</section>

<section class="gallery">
  <div class="labels">
    <button class="button-label" id="savedRecipesBtn" (click)="showSavedRecipes()">Recetas guardadas</button>
    <button class="button-label" id="uploadedRecipesBtn" (click)="showCreatedRecipes()">Recetas subidas</button>
  </div>
</section>

<div *ngIf="showSavedRecipesFlag">
  <div class="image-container">
    <div *ngFor="let receta of recipesSaved">
      <app-image-title-text-horizontal
        [recipe]="receta"
      ></app-image-title-text-horizontal>
    </div>
  </div>
</div>

<div *ngIf="!showSavedRecipesFlag">
  <div class="image-container">
    <div *ngFor="let receta of recipesCreated">
      <app-image-title-text-horizontal
        [recipe]="receta"
      ></app-image-title-text-horizontal>
    </div>
  </div>
</div>



<footer id="main_footer"><app-footer></app-footer></footer>
</body>
