<body>
<div id="wrapper">
  <div class="login_container">
    <h2 id="login-title">Iniciar sesión</h2>
    <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
      <div class="input-group">
        <label for="email">Correo:</label>
        <input type="email" id="email" name="email" class="text-input" placeholder="correo@gmail.com" [(ngModel)]="email" required>
      </div>

      <div class="input-group">
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" class="text-input" placeholder="12345678" [(ngModel)]="password" minlength="8" required>
      </div>

      <div class="button-group">
        <app-buttom buttonText="Iniciar Sesión" buttonAction="submit"></app-buttom>
        <p>¿No tienes cuenta? <a routerLink="/registerPage">Regístrate</a></p>
      </div>
    </form>
  </div>

  <app-footer id="main_footer"></app-footer>
</div>

</body>
